@{
    ViewData["Title"] = "Not Found";
}

<section class="not-found-section">
    <div class="not-found-container">
        <img class="not-found-image" src="/images/404-error-img.png" alt="Not found 404"/>

        <article class="not-found-text-container">
            <h1 class="not-found-title">
                    Oops! page not found
            </h1>

            <p class="not-found-description">
                The page you are looking for does not exists.
            </p>
        </article>

        <a asp-controller="Home" asp-action="Index" class="primary-btn">Back to Homepage</a>
    </div>
</section>
