@using PulseTemple.Web.Models.Authentications.Register.Password;
@using PulseTemple.Web.Models.Authentications.Register;
@using PulseTemple.Web.Models.Authentications;

@model SetPasswordForm

@{
    Layout = "Layouts/_AuthLayout";

    ViewData["Title"] = "Set Password";

    var authTextBlockTitle = new AuthTextBlockViewModel("Set Your Password", "Set a strong password to protect your account. For security reasons, your password must be at least 8 characters long and include uppercase and lowercase letters, numbers, and special characters.");

    var externallLoginData = new ExternallLoginsViewModel(authTextBlockTitle);
}

<section class="sign-up">

    <div class="sign-up-container">

        <partial name="Partials/Authentications/_ExternallLogins" model="@externallLoginData" />

        <form id="signUpForm" method="post" class="sign-up-form" asp-action="SetPassword" asp-controller="Authentication" novalidate>
            <div class="sign-up-input-container">
                <label class="sign-up-email-label" asp-for="Password"></label>
                <input autocomplete="off" class="sign-up-email-input" asp-for="Password" />
                <span class="warning" asp-validation-for="Password"></span>
            </div>

            <div class="sign-up-input-container">
                <label class="sign-up-email-label" asp-for="ConfirmPassword"></label>
                <input autocomplete="off" class="sign-up-email-input" asp-for="ConfirmPassword" />
                <span class="warning" asp-validation-for="ConfirmPassword"></span>
            </div>

            <button type="submit" class="primary-btn wider-btn">Continue</button>

            <div class="accept-user-terms-container">
                <input class="accept-user-terms-input" type="checkbox" asp-for="AcceptedUserTerm" />
                <label asp-for="AcceptedUserTerm" class="sign-up-notice"></label>
            </div>
            <span class="warning" asp-validation-for="AcceptedUserTerm"></span>
            @if (!string.IsNullOrWhiteSpace(ViewData["ErrorMessage"]?.ToString()))
            {
                <div class="field-validation-error">
                    @ViewData["ErrorMessage"]?.ToString()
                </div>
            }
        </form>

    </div>
</section>