
    <section class="header-section">
            <partial name="Partials/Logos/_CompanyLogoLink" />
        <nav id="mainNav" class="main-nav">
            <partial name="Partials/Headers/_HeaderMenuList" />
        </nav>
        <button aria-label="Menu button" id="menuBtn">
            Menu
        </button>
        <nav class="account-nav">
            <ul class="account-menu">
            <li class="account-menu-sign-up">
                <a asp-controller="Authentication" asp-action="SignUp" class="menu-item">Become Member</a>
                </li>
                <li>
                <a asp-controller="Authentication" asp-action="SignIn" class="primary-btn">
                        Sign In
                    </a>
                </li>
            </ul>
        </nav>
    </section>