<section class="footer-section">
    <section class="footer-title">
        <partial name="Partials/Logos/_CompanyLogoLink" />

        <h3 class="h3-title footer-title-h1">
            Empowering Your Fitness Journey with Expert
            Training and Lasting Results
        </h3>
    </section>
    <
        class="primary-hr" />
    <section class="footer-main-info">
        <article class="footer-our-location">
            <b>Our Location</b>
            <p>
                Our supportive and knowledgeable trainers work
                with member to provide encourangement.
            </p>
            <div class="footer-image-location">
                <img src="/images/footer-location-map.png" alt="Main location map."/>
                <span>2nd Floor, Wellness Center, Drottninggatan 118, Stockholm</span>
            </div>
        </article>


        <article class="footer-schema">
            <section class="footer-schema-container">
                <b>Working Hours</b>
                <span>Mon - Fri:  06:00 - 18:00</span>
                <span>Saturday:   10:00 - 18:00</span>
            </section>
            <section class="footer-schema-container">
                <b>Opening Hours</b>
                <span>Mon - Sun:  04:00 - 23:00</span>
            </section>
        </article>
    </section>
    <hr class="primary-hr" />
    <section class="footer-copy-right">
        <span>© @DateTime.Now.Year Core Fitness Group. All Rights Reserved.</span>
    </section>
</section>
