
<section class="logo-title">
    <ul class="logo-title-list">
        <li class="logo-title-item">
            <img src="/images/company-supports-logo-1-prime-1.png"
                 alt="Equipment logo" />
        </li>
        <li class="logo-title-item">
            <img src="/images/company-supports-logo-2-prime-2.png"
                 alt="Equipment logo" />
        </li>
        <li class="logo-title-item">
            <img src="/images/company-supports-logo-3-prime-3.png"
                 alt="Equipment logo" />
        </li>
        <li class="logo-title-item">
            <img src="/images/company-supports-logo-4-prime-4.png"
                 alt="Equipment logo" />
        </li>
        <li class="logo-title-item">
            <img src="/images/company-supports-logo-5-prime-5.png"
                 alt="Equipment logo" />
        </li>
    </ul>
    <h2 class="h2-title">Modern Equipment</h2>
</section>