 <section class="training-image-block">
    <span class="small-title">
    <span class="green-circle-icon"></span>Our Programs</span
    >
    <h2 class="training-image-title">
        Professional training program for stronger health
    </h2>
    <section class="training-image-images">
        <div class="training-image-container">
            <img src="/images/program-image-1.png" alt="Man training." />
        </div>
        <div class="training-image-container">
            <img
            src="/images/program-image-2.png"
            alt="Empty gym with weight."
            />
        </div>
        <div class="training-image-container">
            <img src="/images/program-image-3.png" alt="Man training." />
        </div>
    </section>
    <p class="training-image-paragraph">
        Let's make something great work together. Get Free Quote
    </p>
</section>