@using PulseTemple.Web.Models.Authentications

@model AuthTextBlockViewModel

<section class="auth-text-block">
    <h1 class="auth-text-block-title">@Model.Title</h1>
    <p class="auth-text-block-description">@Model.Description</p>
</section>