@using PulseTemple.Web.Models.Authentications

@model ExternallLoginsViewModel

<section class="externall-logins">
    <partial name="Partials/Authentications/_AuthTextBlock" model="@Model.AuthTextBlock" />    

    <hr class="externall-logins-divider"/>

        <ul class="externall-logins-list">
            <li class="externall-logins-item"></li>
            <li class="externall-logins-item"></li>
            <li class="externall-logins-item"></li>
        </ul>

    <div class="externall-logins-divider-section">
        <hr class="externall-logins-divider" />
        <span class="externall-logins-continue-text">OR CONTINUE WITH</span>
        <hr class="externall-logins-divider"/>
    </div>
</section>