@{
    ViewData["Title"] = "Account";
}
<h1 class="main-page-title">My Account</h1>

<section class="about-me">
    <partial name="Partials/Account/_AccountMenu" />

    <partial name="Partials/Forms/_AboutMeForm" />
</section>