@{
    ViewData["Title"] = "Customer Service";
}
    <h1 class="main-page-title">@ViewData["Title"]</h1>
    <partial name="Partials/CustomerService/_ContactCustomerService" />
    <partial name="Partials/Content/_AskedQuestions" />
